@use '../mixin.scss' as mixin;

.footer {
  position: static;
  bottom: 0;
  width: 100%;

  background-color: mixin.$neutral-900;
  color: mixin.$neutral-0;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  padding-block: 12px;
}
